# Dependências
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build

# Arquivos de cobertura
/coverage
.nyc_output

# Arquivos temporários
.DS_Store
Thumbs.db

# Arquivos de configuração do IDE
.vscode/

# Arquivos de cache
.npm
.eslintcache
.tsbuildinfo

# Arquivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos locais
*.local

# TypeScript cache
*.tsbuildinfo

# Variáveis de ambiente
.env
.nyc_output/f20331bf-bb3c-474c-b31b-cb9b44bb26d5.json
